apiVersion: apps/v1
kind: Deployment
metadata:
  name: claims-service
  namespace: darwinx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: claims-service
  template:
    metadata:
      labels:
        app: claims-service
    spec:
      containers:
      - name: claims-service
        image: darwinx/claims-service:latest
        ports:
        - containerPort: 80
        env:
        - name: MongoDbSettings__ConnectionString
          valueFrom:
            secretKeyRef:
              name: darwinx-secrets
              key: mongo-uri
        - name: RabbitMqSettings__HostName
          value: "rabbitmq"
---
apiVersion: v1
kind: Service
metadata:
  name: claims-service
  namespace: darwinx
spec:
  selector:
    app: claims-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
